body {
  background-color: #4aaaa5;
}
header {
  position: relative;
  padding: 0% 15% 0% 15%;
  top: 0px;
  background-color: #ffffff;
  border-color: #cccccc;
 clear:both;
 height: 54px;
 width: 960px;
}
h1 {
  float: left;
padding: 10px 15px 10px 20px;
font-size:225%;
color: #ffffff;
background-color: #4aaaa5;
width: 27%;
font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
}
nav {
  float: right;
  margin-bottom: 1%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: #4aaaa5;
  border-color: #dddddd;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: -20px;
  overflow: hidden;
  background-color: #ffffff;
}
li {
  float: right;
}
li a {
  display: block;
  color: #777777;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}

h2 {
font-size:225%;
font-family: 'font-family: 'Georgia', Times, Times New Roman, Serif;'
}

.allimg {
  position: relative;
  left: 15%;
  right: 15%;
  top: 80px;
  width: 960px;
  height: 450px;
  border-radius: 5px;
}


.img1 {
  float: left;
  padding: 50px;
  top: 10%;
  left: 20%
  
}
.img2 {
  padding: 50px;
  float: left;
  top: 10%;
  left: 20%
}
.img3 {
  padding: 50px;
  float: left;
  top: 10%;
  left: 20%
}
.img4 {
  float: left;
  padding: 50px;
  top: 10%;
  left: 20%
}